
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%%;
    margin: auto;
  }
  .container {
    background-color: var(--nav-color);
    font-size: 1.2rem;
    font-family: "Merriweather Sans", sans-serif;
    height: 70px;
    width: 100%;
  }